* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: var(--clr-neutral);
}

li {
  list-style: none;
}

:root {
  --clr-primary: #ee6352;
  --clr-dark: #333;
  --clr-neutral: #ddd;
  --clr-light: #fff;
}

a {
  color: var(--clr-primary);
}
